body {
    background-color: #05142E;
  }
  
  main {
    margin: 20px;
  }
  
  .fill-width {
    width: 100%;
  }
  
  /* label color */
  
  .input-field label {
    color: #000;
  }
  
  /* label focus color */
  
  .input-field input[type=text]:focus+label {
    color: #000;
  }
  
  /* label underline focus color */
  
  .input-field input[type=text]:focus {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
  }
  
  /* valid color */
  
  .input-field input[type=text].valid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
  }
  
  /* invalid color */
  
  .input-field input[type=text].invalid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
  }
  
  /* icon prefix focus color */
  
  .input-field .prefix.active {
    color: #000;
  }
  
  .tabs .indicator {
    background-color: #ffab40;
  }
  
  .tabs .tab a {
    color: #05142E;
  }
  
  .tabs .tab a:hover,
  .tabs .tab a.active {
    color: #05142E;
  }
  
  .collapsible {
      border-top: 0px solid #ddd;
      border-right: 0px solid #ddd;
      border-left: 0px solid #ddd;
      border-radius: 10px;
      background-color: white;
  }
  
  .collapsible-header {
      background-color: transparent;
      border-bottom: 0px;
  }
  
  .collapsible-body {
      border-bottom: 0px;
  }
  
  .card {
      border-radius: 10px;
  }
  
  .card .card-action:last-child {
      border-radius: 0 0 10px 10px;
  }
  
  .card .card-content {
      border-radius: 0 0 10px 10px;
  }
  
  .card .card-action a {
      color: #05142E;
  }
  
  .header-logo {
    width: 200px;
    height: auto;
  }